<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <title>About</title>
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This is me</p>
            <img class="portrait" src="/img/robot.jpg">
        </div>
        {{>footer}}
    </body>
</html>